<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<polymer-element name="bslt-server-configuration">
    <template>
        <link rel="stylesheet" href="./bslt-server-configuration.css">

        <h1>Server configuration</h1>

        <a href="#" id="back">&#9664;</a>

        <div vertical layout>
            <div>
                <paper-input label="Name" value="{{name}}" floatingLabel></paper-input>
            </div>
            <div>
                <paper-input label="Host" value="{{host}}" floatingLabel></paper-input>
            </div>
            <div>
                <paper-input label="Port" value="{{port}}" floatingLabel></paper-input>
            </div>
            <div>
                <paper-button id="addServer" class="colored" raised>Add this server</paper-button>
            </div>
        </div>

    </template>
    <script src="./bslt-server-configuration.js"></script>
</polymer-element>
