<link rel="import" href="../../js/lib/polymer/polymer.html">
<link rel="import" href="../../js/lib/paper-input/paper-input.html">
<link rel="import" href="../../js/lib/paper-button/paper-button.html">
<link rel="import" href="../bslt-database-selector/bslt-database-selector.html">

<polymer-element name="bslt-keys-explorer">
    <template>
        <link rel="stylesheet" href="./bslt-keys-explorer.css">

        <bslt-database-selector on-select-database="{{selectDB}}"></bslt-database-selector>

        <div class="keys-container">
            <template repeat="{{word in path}}">
                <div class="keys-col">
                    <template repeat="{{key in word | getKeys}}">
                        <div on-click="{{openWord}}" data-word="{{key}}" class="key-word">{{key}}</div>
                    </template>
                </div>
            </template>
        </div>

    </template>
    <script src="./bslt-keys-explorer.js"></script>
</polymer-element>
