<link rel="import" href="../../js/lib/polymer/polymer.html">
<link rel="import" href="../../js/lib/paper-input/paper-input.html">
<link rel="import" href="../../js/lib/paper-button/paper-button.html">
<link rel="import" href="../bslt-database-selector/bslt-database-selector.html">
<link rel="import" href="../bslt-key-content/bslt-key-content.html">

<polymer-element name="bslt-keys-explorer" attributes="server">
    <template>
        <link rel="stylesheet" href="./bslt-keys-explorer.css">

        <bslt-database-selector on-select-database="{{selectDB}}" on-to-server-configuration="{{reset}}"></bslt-database-selector>

        <div id="keys-container">
            <template if="{{error}}">
                <p class="error">{{error}}</p>
            </template>

            <div class="keys-cols">
                <template repeat="{{word, col in path}}">
                    <div class="keys-col">
                        <template repeat="{{key in word.children | getKeys}}">
                            <div on-click="{{openWord}}" data-word="{{key}}" data-col="{{col}}" class="key-word">
                                {{key}}
                            </div>
                        </template>
                    </div>
                </template>

                <template if="{{keyContent}}">
                    <div class="key-content-container">
                        <bslt-key-content content="{{keyContent}}" type="{{keyType}}"></bslt-key-content>
                    </div>
                </template>

            </div>
        </div>

    </template>
    <script src="./bslt-keys-explorer.js"></script>
</polymer-element>
