<link rel="import" href="../../js/lib/polymer/polymer.html">
<link rel="import" href="../../js/lib/paper-input/paper-input.html">
<link rel="import" href="../../js/lib/paper-button/paper-button.html">
<link rel="import" href="../bslt-database-selector/bslt-database-selector.html">

<polymer-element name="bslt-keys-explorer">
    <template>
        <link rel="stylesheet" href="./bslt-keys-explorer.css">

        <h1>keys explorer</h1>

        <bslt-database-selector></bslt-database-selector>

        <template repeat="{{key in keys | getKeys}}">
            <div>{{key}}</div>
        </template>

    </template>
    <script src="./bslt-keys-explorer.js"></script>
</polymer-element>
