<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name="bslt-server-list">
    <template>
        <link rel="stylesheet" href="../css/bslt-server-list.css">

        <h1>Pick a server</h1>

        <template if="{{!servers.length}}">
            No server yet.
        </template>

        <ul id="server-list">
            <template repeat="{{server in servers}}">
                <li>
                    <bslt-server name="{{server.name}}" on-delete-server="{{deleteServer}}" on-connect="{{connect}}"></bslt-server>
                </li>
            </template>

            <li>
                <paper-button id="addServer" class="colored">Or add a new one</paper-button>
            </li>
        </ul>

    </template>
    <script>
        Polymer({
            servers: [],
            ready: function() {
                //this.$.el.textContent = this.owner + " is ready!";
                this.$.addServer.addEventListener('click', function() {
                    this.fire('open-server-configuration');
                });
            },
            deleteServer: function(event, detail, sender) {
                this.fire('delete-server');
            },
            connect: function(event, detail, sender) {
                this.fire('connect', event);
            }
        });
  </script>
</polymer-element>
