<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name="bslt-server-configuration">
    <template>
        <link rel="stylesheet" href="../css/bslt-server-configuration.css">

        <h1>Server configuration</h1>

        <div vertical layout>
            <div>
                <paper-input label="Name" value="{{name}}" floatingLabel></paper-input>
            </div>
            <div>
                <paper-input label="Host" value="{{host}}" floatingLabel></paper-input>
            </div>
            <div>
                <paper-input label="Port" value="{{port}}" floatingLabel></paper-input>
            </div>
            <div>
                <paper-button id="addServer" class="colored" raised>Add this server</paper-button>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            port: 6379,
            ready: function() {
                var self = this;

                self.$.addServer.addEventListener('click', function() {
                    self.fire('add-server-configuration', {
                        name: self.name,
                        host: self.host,
                        port: self.port
                    });

                    self.name = '';
                    self.host = '';
                    self.port = 6379;
                });
            }
        });
  </script>
</polymer-element>
