<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name="bslt-server" attributes="name">
    <template>
        <link rel="stylesheet" href="../css/bslt-server-list.css">

        <paper-button raised id="name">{{name}}</paper-button>
        <span id="delete">&#10005;</span>
    </template>
    <script>
        Polymer({
            ready: function() {
                var self = this;

                this.$.name.addEventListener('click', function() {
                    self.fire('connect', self.name);
                });

                this.$.delete.addEventListener('click', function() {
                    self.fire('delete-server', self.name);
                });
            }
        });
  </script>
</polymer-element>
