<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name="bslt-database-selector">
    <template>
        <link rel="stylesheet" href="../css/bslt-database-selector.css">

        <ul id="database-list">
            <template repeat="{{database in databases}}">
                <li data-database="{{database}}" on-click="{{selectDB}}">
                    {{database}}
                </li>
            </template>
        </ul>

    </template>
    <script>
        Polymer({
            databases: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
            selectDB: function(event, detail, sender) {
                this.fire('select-database', sender.getAttribute('data-database'));
            }
        });
  </script>
</polymer-element>
