#database-list {
    list-style-type: none;
    width: 40px;
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(239, 239, 239);
    padding-top: 50px;
    color: rgb(84, 79, 73);
}

#database-list li {
    padding: 1px 0;
    border-top: 1px solid rgb(223, 223, 223);
    cursor: pointer;
}

#database-list li:hover {
    background: rgb(255, 194, 194);
}
