<link rel="import" href="../../js/lib/polymer/polymer.html">
<link rel="import" href="../../js/lib/paper-button/paper-button.html">
<link rel="import" href="../../js/lib/core-signals/core-signals.html">
<link rel="import" href="../bslt-server/bslt-server.html">
<link rel="import" href="../bslt-server-service/bslt-server-service.html">


<polymer-element name="bslt-server-list">
    <template>
        <link rel="stylesheet" href="./bslt-server-list.css">

        <core-signals on-core-signal-servers-changed="{{fetchServers}}"></core-signals>
        <bslt-server-service id="serverService"></bslt-server-service>

        <h1>Pick a server</h1>

        <template if="{{!servers.length}}">
            No server yet.
        </template>

        <ul id="server-list">
            <template repeat="{{server in servers}}">
                <li>
                    <bslt-server name="{{server.name}}" on-delete-server="{{deleteServer}}" on-connect="{{connect}}"></bslt-server>
                </li>
            </template>

            <li>
                <paper-button id="addServer" on-click="{{configureServer}}" class="colored">Or add a new one</paper-button>
            </li>
        </ul>

    </template>
    <script src="./bslt-server-list.js"></script>
</polymer-element>
